.dropdown-toggle::after {
    display: none;
}

.d-flex-center{
    display: flex;
    align-items: center;
}

.flex-d-colum{
    flex-direction: column;
}

.btn-filter{
    background: #F8F8F8;
    box-shadow: 0.5px 1px 2px 0px rgba(148, 148, 148, 0.25);
    color: #6B6B6B;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.scroll-x{
    width: 60em;
    overflow-x: auto;
    white-space: nowrap;
}

.text-secustm{color: #BBBBBB;}
.text-primcustm{ color: rgba(90, 136, 255);}
.border-list{border-bottom: 2px solid rgba(196, 196, 196, 0.50);}
.bg-light-g{background-color: #6D6D6D;}
.bg-golden{background-color: #FFAA2C;}
.dis-flex{display: flex !important;}
.w-20{width: 20% !important;}
.h-10{height: 10% !important;}
.b-bottom-1{border-bottom: solid 1px #adb5bd;}
.b-bottom-2{border-bottom: solid 2px #adb5bd;}
.b-bottom-3{border-bottom: solid 3px #adb5bd;}
.shadow{box-shadow: 0.5px 0.5px 0.5px 0px rgba(148, 148, 148, 0.25);}
.table>tbody>tr>td {vertical-align: middle; }
.table>thead>tr>th {vertical-align: top; }
.bg-primary-select{background-color: rgba(90, 136, 255, 0.25);}

.form-check-input{
    // scale: 1.2;
    // margin-right: 0.6rem;
    // border-radius:0.15rem;
    scale: 1.1;
    margin-right: 0.5rem;
    border-radius:0.14rem;
}

.form-check-input:checked{
    background-color: #FFAA2C !important;
    border: 0px;
 }
 .form-check-input:focus, .label::after, label.form-check-label:focus, .form-check-input::after, .form-check-input:not(:disabled):not(.disabled):active:focus {
    color: #FFAA2C;
    outline: 0;
    border: 0;
    box-shadow: 0 0 0 0.1rem #FFAA2C !important;
 }

 .trapecio{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
 }

  .text-trunc { 
   overflow: hidden;
   text-overflow: ellipsis;
 }

 .btn-delete{
    border: 0px;
    width: 20px;
    height: 20px;
    font-size: 12px;
    border-radius: 50%;
    font-weight: bold;
    background-color: #dedede;
    color: #6B6B6B;
    text-align: center;
    padding: 0px 0.6px 1.1px 0px;
 }
 .btn-delete::after{
    content: "X";
 }

 .truncate-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* Número de líneas antes del truncamiento */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; /* Cambiar a 'nowrap' si no quieres saltos de línea */
  }

  @media (min-width: 0px) {
    .margin_results{
        margin: 0px;
    }
    
  }
  @media (min-width: 840px) {
    .margin_results{
        margin-left: 3rem;
        margin-right: 3rem;
        margin-top: 1rem;
    }
  }
  @media (max-width: 768px) {
    .disp-none{
        display: none;
    }
    .margin-l{
        margin-left: 8px;
    }
    .text-right{
        text-align: end;
    }
  }
  @media (max-width: 472px) {
    .w-15{
        width: auto !important;
    }
  }
  @media (max-width: 578px) {
    .disp-none-mx-4{
        display: none !important;
    }
    .marg-l-2{
        margin-left: 1rem;
    }
    .ml-xxs-0{
        margin-left: 0px !important;
    }
    .mt-xxs-1{
        margin-top: 1rem !important;
    }
  }
  @media (max-width: 992px) {
    .marg-previw-r{
        margin-right: 0px !important;
    }
  }
  @media (max-width: 782px) {
    .marg-previw-l-0{
        margin-left: 0px !important;
    }
    .marg-previw-l-1{
        margin-left: 1rem !important;
    }
  }
  @media (max-width: 576px) {
    .marg-previw-l-0-xs{
        margin-left: 0px !important;
    }
    .margin-0{
        margin: 0px !important;
    }
    .padd-xs-1{
        padding: 1rem !important;
    }
  }
  @media (max-width: 1031px) {
    .marg-previw-l-0-lg{
        margin-left: 0px !important;
    }
  }

  @media (min-width: 1169px) {
    .display-none{
        display: none;
    }
  }



  ::-webkit-scrollbar {
    width: 8px;               /* width of the entire scrollbar */
    height: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(188, 188, 188, 0.13);        /* color of the tracking area */
    border-radius: 25px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgb(211, 211, 211);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    // border: 3px solid orange;  /* creates padding around scroll thumb */
  }
