<nav class="navbar bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="../../../assets/sources/imgs/icono_emporium.png" alt="Logo" width="50" height="50" class="d-inline-block align-text-center">
        GRUPO EMPORIUM
      </a>
      <button type="button" class="btn"><i style="font-size: 28px; color: #FFAA2C;" class="bi bi-list"></i></button>
    </div>
</nav>

<div style="margin: 10px 45px;">
  
  <!--Filtradores de modelos-->
  <div class="dropdown d-flex justify-content-center mt-4"> 
    <button type="button" class="btn btn-primary btn-sm fw-semibold" (click)="show_query()" [ngClass]="{'disabled': statusDisabled}">FILTRAR</button>
    
    <div class="d-flex scroll-x">
      <button class="btn btn-filter btn-sm dropdown-toggle d-flex-center ms-3" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
        VIVIENDA 
        <img class="mx-1" src = "../../../assets/sources/icons/🦆 icon-house.svg" alt="Mi SVG feliz"/>
        <img class="ms-2" src = "../../../assets/sources/icons/🦆 icon-dropdown.svg" alt="Mi SVG feliz"/>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" (click)="onClickHome('casa')">Casas</a></li>
        <li><a class="dropdown-item" (click)="onClickHome('departamento')">Departamentos</a></li>
        <li><a class="dropdown-item" (click)="onClickHome('terreno')">Terrenos</a></li>
      </ul>
  
      <button class="btn btn-filter btn-sm dropdown-toggle d-flex-center ms-3 border-0" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false" [ngClass]="{'disabled': statusDisabled}">
        FRACCIONAM... 
        <img class="mx-1" src = "../../../assets/sources/icons/🦆 icon-fraccionmt.svg" alt="Mi SVG feliz"/>
        <img class="ms-2" src = "../../../assets/sources/icons/🦆 icon-dropdown.svg" alt="Mi SVG feliz"/>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuClickableInside">
        <ul *ngFor="let f of query_multi_filt_fracc" class="list-group" style="--bs-list-group-border-color:none">
          <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="punta dorada" aria-label="..." [(ngModel)]="f[1]" (change)="f[1] ? f[1] = f[2] : f[1] = false" (change)="onClickFracc($event)">
            {{f[2] | titlecase}}
          </li>
        </ul>
      </ul>

      <button class="btn btn-filter btn-sm dropdown-toggle d-flex-center ms-3 border-0" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false" [ngClass]="{'disabled': statusDisabled}">
        NIVEL 
        <img class="mx-1" src = "../../../assets/sources/icons/🦆 icon-level.svg" alt="Mi SVG feliz"/>
        <img class="ms-2" src = "../../../assets/sources/icons/🦆 icon-dropdown.svg" alt="Mi SVG feliz"/>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
        <li><a class="dropdown-item" (click)="onClickLevel('bajo')">Bajo</a></li>
        <li><a class="dropdown-item" (click)="onClickLevel('medio')">Medio</a></li>
        <li><a class="dropdown-item" (click)="onClickLevel('medio residencial')">Medio Residencial</a></li>
        <li><a class="dropdown-item" (click)="onClickLevel('residencial')">Residencial</a></li>
        <li><a class="dropdown-item" (click)="onClickLevel('residencial-plus')">Residencial-Plus</a></li>
      </ul>
  
      <button class="btn btn-filter btn-sm dropdown-toggle d-flex-center ms-3 border-0" type="button" id="dropdownMenuButton4" data-bs-toggle="dropdown" aria-expanded="false" [ngClass]="{'disabled': statusDisabled}">
        ZONA 
        <img class="mx-1" src = "../../../assets/sources/icons/🦆 icon-zone.svg" alt="Mi SVG feliz"/>
        <img class="ms-2" src = "../../../assets/sources/icons/🦆 icon-dropdown.svg" alt="Mi SVG feliz"/>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton4">
        <li><a class="dropdown-item" (click)="onClickZone('nor poniente')">NOR PONIENTE</a></li>
        <li><a class="dropdown-item" (click)="onClickZone('poniente')">PONIENTE</a></li>
        <li><a class="dropdown-item" (click)="onClickZone('centro')">CENTRO</a></li>
        <li><a class="dropdown-item" (click)="onClickZone('oriente')">ORIENTE</a></li>
        <li><a class="dropdown-item" (click)="onClickZone('sur poniente')">SUR PONIENTE</a></li>
        <li><a class="dropdown-item" (click)="onClickZone('sur')">SUR</a></li>
      </ul>

  
      <button class="btn btn-filter btn-sm dropdown-toggle d-flex-center ms-3 border-0" type="button" id="dropdownMenuBut" data-bs-toggle="dropdown" aria-expanded="false" [ngClass]="{'disabled': statusDisabled}">
        DESARROLLADORA 
        <img class="mx-1" src = "../../../assets/sources/icons/🦆 icon-developer.svg" alt="Mi SVG feliz"/>
        <img class="ms-2" src = "../../../assets/sources/icons/🦆 icon-dropdown.svg" alt="Mi SVG feliz"/>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuBut">
        <ul *ngFor="let d of query_multi_desrr" class="list-group" style="--bs-list-group-border-color:none">
          <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="emporium" aria-label="..." [(ngModel)]="d[1]" (change)="d[1] ? d[1] = d[2] : d[1] = false" (change)="onClickDesrr($event)">
            {{d[2] | titlecase}}
          </li>
        </ul>
      </ul>
      
      <button class="btn btn-filter btn-sm dropdown-toggle d-flex-center ms-3 border-0" type="button" id="dropdownMenuButton5" data-bs-toggle="dropdown" aria-expanded="false" [ngClass]="{'disabled': statusDisabled}">
        PRECIO 
        <img class="mx-1" src = "../../../assets/sources/icons/🦆 icon-price.svg" alt="Mi SVG feliz"/>
        <img class="ms-2" src = "../../../assets/sources/icons/🦆 icon-dropdown.svg" alt="Mi SVG feliz"/>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton5">
        <li *ngFor="let fp of query_multi_filt_price"><a class="dropdown-item" (click)="onClickPrice(fp.prices)">{{fp.title}}</a></li>
      </ul>
    </div>

  </div>


    <div class="my-3"> <!-- BADGE FILTERS -->
      <span *ngIf="this.query_filtration_group.IdTipoUbicacion" class="badge rounded-pill bg-light px-2 text-secondary mx-1">{{query_filtration_group.IdTipoUbicacion}} <button class="btn-delete" (click)="cleanFilter('IdTipoUbicacion')"></button></span>
      <span *ngIf="badgeFraccionamientos != undefined" class="badge rounded-pill bg-light px-2 text-secondary mx-1"> 
        <span *ngFor="let i of badgeFraccionamientos; let indice=index" class="d-inline-block text-truncate" style="max-width: 4.5rem;">{{badgeFraccionamientos[indice][1]}}</span> <button class="btn-delete" (click)="cleanFilter('Fraccionamientos')"></button>
      </span>
      <span *ngIf="this.query_filtration_group.IdNivel" class="badge rounded-pill bg-light px-2 text-secondary mx-1">{{query_filtration_group.IdNivel}} <button class="btn-delete" (click)="cleanFilter('IdNivel')"></button></span>
      <span *ngIf="this.query_filtration_group.IdZona" class="badge rounded-pill bg-light px-2 text-secondary mx-1">{{query_filtration_group.IdZona}} <button class="btn-delete" (click)="cleanFilter('IdZona')"></button></span>
      
      <span *ngIf="badgeDesarrollador != undefined" class="badge rounded-pill bg-light px-2 text-secondary mx-1"> 
        <span *ngFor="let i of badgeDesarrollador; let indice=index" class="d-inline-block text-truncate" style="max-width: 3rem;">{{badgeDesarrollador[indice][1]}}</span> <button class="btn-delete" (click)="cleanFilter('Desarrollador')"></button>
      </span>
      
      <span *ngIf="badgePrice != undefined" class="badge rounded-pill bg-light px-2 text-secondary mx-1">
        <span *ngFor="let i of badgePrice; let indice=index" class="d-inline-block text-truncate" style="max-width: 4.5rem;">{{badgePrice[indice][1] | moneyViewList}}</span> <button class="btn-delete" (click)="cleanFilter('Precio')"></button>
      </span>
    </div>


    <!-- Preview items-compara -->
    <div @myInsertRemoveTrigger *ngIf="myCollapse" class="mx-5 mt-5 margin-0 d-flex flex-wrap align-items-center">
      <div class="card me-5 marg-previw-r border-0 shadow-sm mt-2 w-15" style="width: 12rem; border-radius: 8px; background-color: rgba(90, 136, 255, 0.10);">
        <div class="card-body p-2 d-flex" style="align-items: center;">
          <!-- <img class="mx-2" src = "../../../assets/sources/icons/🦆 icon-emporium-circule.svg" width="20.5rem" height="20.5rem" alt="Mi SVG feliz"/> -->
          <div class="rounded-circle border mx-2 text-primary text-center fw-bold" style="width: 18px; height: 18px; font-size: 10px;">1</div>
          <h6 class="card-subtitle fw-bold text-primcustm" style="font-size: 12px; margin-top: 2px;">{{comparedItems[0].IdPrototipo}}<br><span class="me-2" style="font-size: 10px;">{{comparedItems[0].IdDesarrollador=='EMPORIUM'? 'GRUPO EMPORIUM':comparedItems[0].IdDesarrollador}}</span></h6>       
        </div>
      </div>
      <div @myInsertRemoveHorz *ngIf="comparedItems[1]" class="card bg-light ms-3 mt-2 marg-previw-l-0-xs border-0 shadow-sm w-15" style="width: 12rem; border-radius: 8px;">
        <div class="card-body p-2 d-flex" style="align-items: center;">
          <div class="rounded-circle border mx-2 text-secondary text-center fw-bold" style="width: 18px; height: 18px; font-size: 10px;">2</div>
          <h6 class="card-subtitle text-muted fw-bold text-secondary" style="font-size: 12px; margin-top: 2px;">{{comparedItems[1].IdPrototipo}} <br><span class="me-2" style="font-size: 10px;">{{comparedItems[1].IdDesarrollador=='EMPORIUM'? 'GRUPO EMPORIUM':comparedItems[1].IdDesarrollador}}</span></h6>       
        </div>
      </div>
      <div @myInsertRemoveHorz *ngIf="comparedItems[2]" class="card bg-light ms-3 mt-2 marg-previw-l-0 border-0 shadow-sm w-15" style="width: 12rem; border-radius: 8px;">
        <div class="card-body p-2 d-flex" style="align-items: center;">
          <div class="rounded-circle border mx-2 text-secondary text-center fw-bold" style="width: 18px; height: 18px; font-size: 10px;">3</div>
          <h6 class="card-subtitle text-muted fw-bold text-secondary" style="font-size: 12px; margin-top: 2px;">{{comparedItems[2].IdPrototipo}} <br><span class="me-2" style="font-size: 10px;">{{comparedItems[2].IdDesarrollador=='EMPORIUM'? 'GRUPO EMPORIUM':comparedItems[2].IdDesarrollador}}</span></h6>       
        </div>
      </div>
      <div @myInsertRemoveHorz *ngIf="comparedItems[3]" class="card bg-light ms-3 mt-2 marg-previw-l-0-xs marg-previw-l-0-lg border-0 shadow-sm w-15" style="width: 12rem; border-radius: 8px;">
        <div class="card-body p-2 d-flex" style="align-items: center;">
          <div class="rounded-circle border mx-2 text-secondary text-center fw-bold" style="width: 18px; height: 18px; font-size: 10px;">4</div>
          <h6 class="card-subtitle text-muted fw-bold text-secondary" style="font-size: 12px; margin-top: 2px;">{{comparedItems[3].IdPrototipo}} <br><span class="me-2" style="font-size: 10px;">{{comparedItems[3].IdDesarrollador=='EMPORIUM'? 'GRUPO EMPORIUM':comparedItems[3].IdDesarrollador}}</span></h6>       
        </div>
      </div>

      <button class="btn btn-primary btn-sm ms-5 ml-xxs-0 mt-xxs-1 fw-semibold" (click)="scrollToSection('section1')" type="button" >Comparar</button> 
      <button class="btn bg-transparent text-secondary btn-sm ms-2 mt-xxs-1 fw-semibold" type="button" (click)="cleanSelection()">Limpiar</button> 

    </div>


  <div *ngIf="resultsEMP.length == 0 && resultsCOMP.length == 0" class="row" style="margin-top: 10%; margin-bottom: 6%;">
    <img class="col-12" width="180px" height="180px" src="../../../assets/sources/icons/🦆 icon-balance.svg" alt=""> <br> <h5 class="text-center text-secustm fw-normal">Comparar entre diferentes modelos y viviendas</h5>
  </div>

  <div *ngIf="resultsEMP.length || resultsCOMP.length">
    <ul class="list-group margin_results" style="--bs-list-group-border-color:none">
      <div class="d-flex justify-content-between my-2">
        <h6 style="font-size: 13px;" class="my-4 text-secondary"><span class="text-secustm">MODELOS</span> EMPORIUM</h6>
        <h6 style="font-size: 13px;" class="my-4 text-secustm">4 SELECCIONES MÁX</h6>
      </div>
    
      <div @listAppear *ngFor="let model of resultsEMP; let indice=index" class="row d-flex list-group-item mb-3 border-list" style="padding: 0px 0px 15px 5px">
        <div class="col-1 text-center fw-bold text-secondary align-self-center"><input class="form-check-input me-1" type="checkbox" value="" aria-label="..." (change)="detectedItemList($event,model)" [checked]="model.Active"></div>
        <div style="font-size: 0.9rem;" class="col-lg-2 col-md-2 col-sm-2 col-3 text-start fw-semibold text-secondary align-self-center marg-l-2">
          <img class="me-3" width="34px" height="34px" src = "../../../assets/sources/icons/🦆 icon-emporium-circule.svg" alt="Mi SVG feliz"/>
          <span class="d-inline-block text-truncate"  style="max-width: 100px;">{{model.IdPrototipo}}</span>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 margin-l text-start fw-semibold text-secondary align-self-center lh-1   d-inline-block text-truncate disp-none-mx-4"  style="max-width: 200px;">{{model.IdFraccionamiento | titlecase}} <br><span class="fw-semibold text-secustm" style="font-size: small;">{{model.IdDesarrollador=='EMPORIUM'? 'Grupo Emporium':model.IdDesarrollador}}</span></div>
        <div class="col-lg-2 col-md-3 col-sm-5 col-7 margin-l text-start text-right fw-semibold text-secondary align-self-center lh-1">{{model.Precio | moneyViewList}} / {{model.Apartado | moneyViewList}}<br><span class="fw-semibold text-secustm" style="font-size: small;">Precio - Apartado</span></div>
        <div class="col-lg-3 col-md-3 text-center fw-bold text-secondary align-self-center disp-none"><span class="badge bg-secondary fw-semibold w-50">{{model.TiempoEntrega}}</span></div>
        <div class="col-lg-2 col-md-1 text-center fw-bold text-secondary align-self-center disp-none">
          <img class="" *ngIf="model.IdTipoUbicacion === 'CASA' " src = "../../../assets/sources/icons/🦆 icon-house-circule-outline.svg" alt="Mi SVG feliz"/>
            <img class="" *ngIf="model.IdTipoUbicacion === 'TERRENO' " src = "../../../assets/sources/icons/🦆 icon-land-circule-outline.svg" alt="Mi SVG feliz"/>
            <img class="" *ngIf="model.IdTipoUbicacion === 'DEPARTAMENTO' " src = "../../../assets/sources/icons/🦆 icon-depart_circule-outline.svg" alt="Mi SVG feliz"/>
            <img class="" *ngIf="model.IdZona == 'PONIENTE' " src = "../../../assets/sources/icons/🦆 icon-west-circule-outline.svg" alt="Mi SVG feliz"/>
            <img class="" *ngIf="model.IdZona == 'ORIENTE' " src = "../../../assets/sources/icons/🦆 icon-east-circule-outline.svg" alt="Mi SVG feliz"/>
            <img class="" *ngIf="model.IdZona == 'NOR PONIENTE' " src = "../../../assets/sources/icons/🦆 icon-nortw-circule-outline.svg" alt="Mi SVG feliz"/>
            <img class="" *ngIf="model.IdZona == 'SUR' " src = "../../../assets/sources/icons/🦆 icon-south-circule-outline.svg" alt="Mi SVG feliz"/>
            <img class="" *ngIf="model.IdZona == 'NOR' " src = "../../../assets/sources/icons/🦆 icon-nort-circule-outline.svg" alt="Mi SVG feliz"/>
            <img class="" *ngIf="model.IdZona == 'OCCIDENTE' " src = "../../../assets/sources/icons/🦆 icon-east-circule-outline.svg" alt="Mi SVG feliz"/>
            <img class="" *ngIf="model.Terraza " src = "../../../assets/sources/icons/🦆 icon-roof-circule-outline.svg" alt="Mi SVG feliz"/>
        </div>
      </div>
    </ul>
    <ul class="list-group margin_results" style="--bs-list-group-border-color:none">
      <h6 style="font-size: 13px;" class="my-4 text-secondary"><span class="text-secustm">MODELOS</span> COMPARA</h6>
    
  
      <div @listAppear *ngFor="let model of resultsCOMP; let indice=index" class="row d-flex list-group-item mb-3 border-list" style="padding: 0px 0px 15px 5px">
        <div class="col-1 text-center fw-bold text-secondary align-self-center"><input class="form-check-input me-1" type="checkbox" value="" aria-label="..." (change)="detectedItemList($event,model)" [checked]="model.Active" [disabled]="disableCheckCom"></div>
        <div style="font-size: 0.9rem;" class="col-lg-2 col-md-2 col-sm-2 col-3 text-start fw-semibold text-secondary align-self-center marg-l-2">
          <img class="me-3" width="34px" height="34px"  [src] = "model.icon.path" alt="Mi SVG feliz"/>
          <span class="d-inline-block text-truncate"  style="max-width: 100px;">{{model.IdPrototipo}}</span>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 margin-l text-start fw-semibold text-secondary align-self-center lh-1  d-inline-block text-truncate disp-none-mx-4" style="max-width: 200px;">{{model.IdFraccionamiento | titlecase}} <br><span class="fw-semibold text-secustm" style="font-size: small;">{{model.IdDesarrollador | titlecase}}</span></div>
        <div class="col-lg-2 col-md-3 col-sm-5 col-7 margin-l text-start fw-semibold text-secondary align-self-center lh-1">{{model.Precio | moneyViewList}} / {{model.Apartado | moneyViewList}}<br><span class="fw-semibold text-secustm" style="font-size: small;">Precio - Apartado</span></div>
        <div class="col-lg-3 col-md-3 text-center fw-bold text-secondary align-self-center disp-none"><span class="badge bg-secondary fw-semibold w-50">{{model.TiempoEntrega}}</span></div>
        <div class="col-lg-2 col-md-1 text-center fw-bold text-secondary align-self-center disp-none">
          <img class="" *ngIf="model.IdTipoUbicacion === 'CASA' " src = "../../../assets/sources/icons/🦆 icon-house-circule-outline.svg" alt="Mi SVG feliz"/>
          <img class="" *ngIf="model.IdTipoUbicacion === 'TERRENO' " src = "../../../assets/sources/icons/🦆 icon-land-circule-outline.svg" alt="Mi SVG feliz"/>
          <img class="" *ngIf="model.IdTipoUbicacion === 'DEPARTAMENTO' " src = "../../../assets/sources/icons/🦆 icon-depart_circule-outline.svg" alt="Mi SVG feliz"/>
          <img class="" *ngIf="model.IdZona == 'PONIENTE' " src = "../../../assets/sources/icons/🦆 icon-west-circule-outline.svg" alt="Mi SVG feliz"/>
          <img class="" *ngIf="model.IdZona == 'ORIENTE' " src = "../../../assets/sources/icons/🦆 icon-east-circule-outline.svg" alt="Mi SVG feliz"/>
          <img class="" *ngIf="model.IdZona == 'NOR PONIENTE' " src = "../../../assets/sources/icons/🦆 icon-nortw-circule-outline.svg" alt="Mi SVG feliz"/>
          <img class="" *ngIf="model.IdZona == 'SUR' " src = "../../../assets/sources/icons/🦆 icon-south-circule-outline.svg" alt="Mi SVG feliz"/>
          <img class="" *ngIf="model.IdZona == 'NOR' " src = "../../../assets/sources/icons/🦆 icon-nort-circule-outline.svg" alt="Mi SVG feliz"/>
          <img class="" *ngIf="model.IdZona == 'OCCIDENTE' " src = "../../../assets/sources/icons/🦆 icon-east-circule-outline.svg" alt="Mi SVG feliz"/>
          <img class="" *ngIf="model.IdZona == 'CENTRO' " src = "../../../assets/sources/icons/🦆 icon-center-circule-outline.svg" alt="Mi SVG feliz"/>
          <img class="" *ngIf="model.Terraza " src = "../../../assets/sources/icons/🦆 icon-roof-circule-outline.svg" alt="Mi SVG feliz"/>
        </div>
      </div>
    </ul>
  </div>
  
  <h6 style="font-size: 15px;" class="my-4 pt-5 text-secondary" id="section1"><span *ngIf="tableComparaItems.length != 0">COMPARACIÓN</span></h6>
  
</div>

<!-- //Tabla de comparación -->

<div class="overflow-scroll" style="margin: 10px 0px 10px 25px;">
  <table class="table" *ngIf="tableComparaItems.length != 0">
    <thead>
     <tr>
      <th class="w-20 pb-3 text-secondary fw-semibold b-bottom-3" style="vertical-align: bottom;"><input class="form-check-input me-1 col-2" type="checkbox" value="" aria-label="..."> Mostrar por diferencias</th>
      
      <th @tableCompAppear1 class="w-20 bg-primary-select text-center b-bottom-3" style="border-top-left-radius: 12px; border-top-right-radius: 12px; position: relative; padding-top: 46px;">
        <img class="trapecio" src="../../../assets/sources/icons/sticker-emporium-golden.svg" alt="">
        <div class="d-flex flex-column justify-content-around">
          <div class="bg-light" style="width: 13.5rem; height: 9rem; border-radius: 12px; margin: auto; background-image: url('../../../assets/sources/imgs/image-icon.jpg');"></div>
          <h6 style="font-size: 15px; height: 75px;" class="my-3 mx-4 text-secondary text-start"><b>Modelo - {{tableComparaItems[0]?.IdPrototipo | titlecase}}</b>, Residencial {{tableComparaItems[0]?.IdFraccionamiento | titlecase}}, Calle {{tableComparaItems[0]?.Ubicacion | titlecase}}.</h6>
          <span class="text-primary fw-bold mx-3">▶ ENTREGA {{tableComparaItems[0]?.TiempoEntrega}}</span>
          <div class="d-grid mt-4 mb-3 px-3"><button type="button" class="btn btn-primary btn-sm fw-semibold btn-block" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="selectInfoModal(tableComparaItems[0])">VER MÁS</button></div>
        </div>
      </th>
      <th @tableCompAppear2 class="w-20 text-center text-secondary b-bottom-3" style="position: relative; padding-top: 46px;"> <div class="trapecio">OTRO</div>
        <div class="d-flex flex-column justify-content-around">
          <div class="bg-light" style="width: 13.5rem; height: 9rem; border-radius: 12px; margin: auto; background-image: url('../../../assets/sources/imgs/image-icon.jpg');"></div>
          <h6 style="font-size: 15px; height: 75px;" class="my-3 mx-4 text-secondary text-start"><b>Modelo - {{tableComparaItems[1]?.IdPrototipo | titlecase}}</b>, Residencial {{tableComparaItems[1]?.IdFraccionamiento | titlecase}}, Calle {{tableComparaItems[1]?.Ubicacion | titlecase}}.</h6>
          <span class="text-black-50 fw-bold">▶ ENTREGA {{tableComparaItems[1]?.TiempoEntrega}}</span>
          <div class="d-grid mt-4"><button type="button" class="btn text-secondary fw-bold btn-sm fw-semibold btn-block" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="selectInfoModal(tableComparaItems[1])">VER MÁS</button></div>
        </div>
      </th>
      <th @tableCompAppear3 class="w-20 text-center text-secondary b-bottom-3" style="position: relative; padding-top: 46px;"> <div class="trapecio">OTRO</div>
        <div class="d-flex flex-column justify-content-around">
          <div class="bg-light" style="width: 13.5rem; height: 9rem; border-radius: 12px; margin: auto; background-image: url('../../../assets/sources/imgs/image-icon.jpg');"></div>
          <h6 style="font-size: 15px; height: 75px;" class="my-3 mx-4 text-secondary text-start"><b>Modelo - {{tableComparaItems[2]?.IdPrototipo | titlecase}}</b>, Residencial {{tableComparaItems[2]?.IdFraccionamiento | titlecase}}, Calle {{tableComparaItems[2]?.Ubicacion | titlecase}}.</h6>
          <span class="text-black-50 fw-bold">▶ ENTREGA {{tableComparaItems[2]?.TiempoEntrega}}</span>
          <div class="d-grid mt-4"><button type="button" class="btn text-secondary fw-bold btn-sm fw-semibold btn-block" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="selectInfoModal(tableComparaItems[2])">VER MÁS</button></div>
        </div>
      </th>
      <th @tableCompAppear4 class="w-20 text-center text-secondary b-bottom-3" style="position: relative; padding-top: 46px;"> <div class="trapecio">OTRO</div>
        <div class="d-flex flex-column justify-content-around">
          <div class="bg-light" style="width: 13.5rem; height: 9rem; border-radius: 12px; margin: auto; background-image: url('../../../assets/sources/imgs/image-icon.jpg');"></div>
          <h6 style="font-size: 15px; height: 75px;" class="my-3 mx-4 text-secondary text-start"><b>Modelo - {{tableComparaItems[3]?.IdPrototipo | titlecase}}</b>, Residencial {{tableComparaItems[3]?.IdFraccionamiento | titlecase}}, Calle {{tableComparaItems[3]?.Ubicacion | titlecase}}.</h6>
          <span class="text-black-50 fw-bold">▶ ENTREGA {{tableComparaItems[3]?.TiempoEntrega}}</span>
          <div class="d-grid mt-4"><button type="button" class="btn text-secondary fw-bold btn-sm fw-semibold btn-block" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="selectInfoModal(tableComparaItems[3])">VER MÁS</button></div>
        </div>
      </th>
     </tr>
    </thead>
    <tbody>
     <tr>
      <td> <div class="d-flex justify-content-between"><span class="text-secustm text-start fw-semibold">TIPO VIVIENDA</span><img class="me-3" src = "../../../assets/sources/icons/🦆 icon-house-circule-outline.svg" alt="Mi SVG feliz"/></div></td>
      <td @tableCompAppear1 class="bg-primary-select text-secondary text-center fw-semibold">{{tableComparaItems[0]?.IdTipoUbicacion}}</td>
      <td @tableCompAppear2 class="text-center text-secondary fw-semibold">{{tableComparaItems[1]?.IdTipoUbicacion}}</td>
      <td @tableCompAppear3 class="text-center text-secondary fw-semibold">{{tableComparaItems[2]?.IdTipoUbicacion}}</td>
      <td @tableCompAppear4 class="text-center text-secondary fw-semibold">{{tableComparaItems[3]?.IdTipoUbicacion}}</td>
     </tr>
     <tr>
      <td> <div class="d-flex justify-content-between"><span class="text-secustm text-start fw-semibold">NIVEL</span><img class="me-3" src = "../../../assets/sources/icons/🦆 icon-level-circule-outline.svg" alt="Mi SVG feliz"/></div></td>
      <td @tableCompAppear1 class="bg-primary-select text-secondary text-center fw-semibold">{{tableComparaItems[0]?.IdNivel}}</td>
      <td @tableCompAppear2 class="text-center text-secondary fw-semibold">{{tableComparaItems[1]?.IdNivel}}</td>
      <td @tableCompAppear3 class="text-center text-secondary fw-semibold">{{tableComparaItems[2]?.IdNivel}}</td>
      <td @tableCompAppear4 class="text-center text-secondary fw-semibold">{{tableComparaItems[3]?.IdNivel}}</td>
     </tr>
     <tr>
      <td> <div class="d-flex justify-content-between"><span class="text-secustm text-start fw-semibold">ZONA</span><img class="me-3" src = "../../../assets/sources/icons/🦆 icon-zone-circule-outline.svg" alt="Mi SVG feliz"/></div></td>
      <td @tableCompAppear1 class="bg-primary-select text-secondary text-center fw-semibold">{{tableComparaItems[0]?.IdZona}}</td>
      <td @tableCompAppear2 class="text-center text-secondary fw-semibold">{{tableComparaItems[1]?.IdZona}}</td>
      <td @tableCompAppear3 class="text-center text-secondary fw-semibold">{{tableComparaItems[2]?.IdZona}}</td>
      <td @tableCompAppear4 class="text-center text-secondary fw-semibold">{{tableComparaItems[3]?.IdZona}}</td>
     </tr>
     <tr *ngIf="tableComparaItems[0]?.IdTipoUbicacion != 'TERRENO'">
      <td> <div class="d-flex justify-content-between"><span class="text-secustm text-start fw-semibold">HABITACIONES</span><img class="me-3" src = "../../../assets/sources/icons/🦆 icon-room-circule-outline.svg" alt="Mi SVG feliz"/></div></td>
      <td @tableCompAppear1 class="bg-primary-select text-secondary text-center fw-semibold">{{tableComparaItems[0]?.Habitaciones}}</td>
      <td @tableCompAppear2 class="text-center text-secondary fw-semibold">{{tableComparaItems[1]?.Habitaciones}}</td>
      <td @tableCompAppear3 class="text-center text-secondary fw-semibold">{{tableComparaItems[2]?.Habitaciones}}</td>
      <td @tableCompAppear4 class="text-center text-secondary fw-semibold">{{tableComparaItems[3]?.Habitaciones}}</td>
     </tr>
     <tr *ngIf="tableComparaItems[0]?.IdTipoUbicacion != 'TERRENO'">
      <td> <div class="d-flex justify-content-between"><span class="text-secustm text-start fw-semibold">BAÑOS</span><img class="me-3" src = "../../../assets/sources/icons/🦆 icon-bath-circule-outline.svg" alt="Mi SVG feliz"/></div></td>
      <td @tableCompAppear1 class="bg-primary-select text-secondary text-center fw-semibold">{{tableComparaItems[0]?.Banos  | decimalFraccion}}</td>
      <td @tableCompAppear2 class="text-center text-secondary fw-semibold">{{tableComparaItems[1]?.Banos | decimalFraccion}}</td>
      <td @tableCompAppear3 class="text-center text-secondary fw-semibold">{{tableComparaItems[2]?.Banos | decimalFraccion}}</td>
      <td @tableCompAppear4 class="text-center text-secondary fw-semibold">{{tableComparaItems[3]?.Banos | decimalFraccion}}</td>
     </tr>
     <tr *ngIf="tableComparaItems[0]?.IdTipoUbicacion != 'TERRENO'">
      <td> <div class="d-flex justify-content-between"><span class="text-secustm text-start fw-semibold">TERRAZA</span><img class="me-3" src = "../../../assets/sources/icons/🦆 icon-roof-circule-outline.svg" alt="Mi SVG feliz"/></div></td>
      <td class="bg-primary-select text-secondary text-center fw-semibold">
        <img *ngIf="tableComparaItems[0]?.Terraza" src="../../../assets/sources/icons/🦆 icon-true.svg" alt="">
        <img *ngIf="!tableComparaItems[0]?.Terraza" src="../../../assets/sources/icons/🦆 icon-false.svg" alt="">
      </td>
      <td class="text-center text-secondary fw-semibold">
        <img *ngIf="tableComparaItems[1]?.Terraza" src="../../../assets/sources/icons/🦆 icon-true.svg" alt="">
        <img *ngIf="!tableComparaItems[1]?.Terraza" src="../../../assets/sources/icons/🦆 icon-false.svg" alt="">
      </td>
      <td class="text-center text-secondary fw-semibold">
        <img *ngIf="tableComparaItems[2]?.Terraza" src="../../../assets/sources/icons/🦆 icon-true.svg" alt="">
        <img *ngIf="!tableComparaItems[2]?.Terraza" src="../../../assets/sources/icons/🦆 icon-false.svg" alt="">
      </td>
      <td class="text-center text-secondary fw-semibold">
        <img *ngIf="tableComparaItems[3]?.Terraza" src="../../../assets/sources/icons/🦆 icon-true.svg" alt="">
        <img *ngIf="!tableComparaItems[3]?.Terraza" src="../../../assets/sources/icons/🦆 icon-false.svg" alt="">
      </td>
     </tr>
     <tr *ngIf="tableComparaItems[0]?.IdTipoUbicacion != 'TERRENO'">
      <td> <div class="d-flex justify-content-between"><span class="text-secustm text-start fw-semibold">ESTACIONAMIENTO</span><img class="me-3" src = "../../../assets/sources/icons/🦆 icon-park-circule-outline.svg" alt="Mi SVG feliz"/></div></td>
      <td class="bg-primary-select text-secondary text-center fw-semibold">{{tableComparaItems[0]?.Parking}}</td>
      <td class="text-center text-secondary fw-semibold">{{tableComparaItems[1]?.Parking}}</td>
      <td class="text-center text-secondary fw-semibold">{{tableComparaItems[2]?.Parking}}</td>
      <td class="text-center text-secondary fw-semibold">{{tableComparaItems[3]?.Parking}}</td>
     </tr>
     <tr>
      <td> <div class="d-flex justify-content-between"><span class="text-secustm text-start fw-semibold">PRECIO</span><img class="me-3" src = "../../../assets/sources/icons/🦆 icon-price-circule-outline.svg" alt="Mi SVG feliz"/></div></td>
      <td class="bg-primary-select text-secondary text-center fw-bold">{{tableComparaItems[0]?.Precio | moneyViewNormal}}</td>
      <td class="text-center text-secondary fw-bold">{{tableComparaItems[1]?.Precio | moneyViewNormal}}</td>
      <td class="text-center text-secondary fw-bold">{{tableComparaItems[2]?.Precio | moneyViewNormal}}</td>
      <td class="text-center text-secondary fw-bold">{{tableComparaItems[3]?.Precio | moneyViewNormal}}</td>
     </tr>
     <tr>
      <td> <div class="d-flex justify-content-between"><span class="text-secustm text-start fw-semibold">FINANCIAMIENTO</span><img class="me-3" width="25px" height="25px" src = "../../../assets/sources/icons/🦆 icon-fianc-circule-outline.svg" alt="Mi SVG feliz"/></div></td>
      <td class="bg-primary-select text-secondary text-center fw-semibold align-middle"><span *ngFor="let f of tableComparaItems[0]?.Financiamientos">{{f}}, </span></td>
      <td class="text-center text-secondary fw-semibold align-middle"><span *ngFor="let f of tableComparaItems[1]?.Financiamientos">{{f}}, </span></td>
      <td class="text-center text-secondary fw-semibold align-middle"><span *ngFor="let f of tableComparaItems[2]?.Financiamientos">{{f}}, </span></td>
      <td class="text-center text-secondary fw-semibold align-middle"><span *ngFor="let f of tableComparaItems[3]?.Financiamientos">{{f}}, </span></td>
     </tr>
     <tr>
      <td> <div class="d-flex justify-content-between"><span class="text-secustm text-start fw-semibold">AMENIDADES</span><img class="me-3" width="25px" height="25px" src = "../../../assets/sources/icons/🦆 icon-amenid-circule-outline.svg" alt="Mi SVG feliz"/></div></td>
      <td class="bg-primary-select text-secondary text-center fw-semibold align-middle">{{tableComparaItems[0]?.Amenidades}}</td>
      <td class="text-center text-secondary fw-semibold align-middle">{{tableComparaItems[1]?.Amenidades}}</td>
      <td class="text-center text-secondary fw-semibold align-middle">{{tableComparaItems[2]?.Amenidades}}</td>
      <td class="text-center text-secondary fw-semibold align-middle">{{tableComparaItems[3]?.Amenidades}}</td>
     </tr>
     <tr>
      <td class="d-flex justify-content-between border-bottom-0" style="height: 30px !important;"></td>
      <td class="bg-primary-select text-center border-bottom-0" style="border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;"></td>
      <td class="text-center align-middle border-bottom-0"></td>
      <td class="text-center align-middle border-bottom-0"></td>
      <td class="text-center align-middle border-bottom-0"></td>
     </tr>
    </tbody>
  </table>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      
      <div class="modal-body">
        <div class="row mb-2"><h1>{{modalItemSelected?.IdPrototipo}}</h1></div>
        <div class="row">
          <div class="col-7 align-self-start">
            <div class="bg-light" style="width: 13.5rem; height: 9rem; border-radius: 12px; margin: auto; background-image: url('../../../assets/sources/imgs/image-icon.jpg');"></div>
          </div>
          <div class="col-5 mt-1">
            <div class="d-flex justify-content-start align-items-center my-2"><img class="me-3" width="26px" height="26px" src = "../../../assets/sources/icons/🦆 icon-m2.svg" alt="Mi SVG feliz"/><span class="text-dark text-start fw-semibold">{{modalItemSelected?.M2}} m<sup>2</sup></span></div>
            <div class="d-flex justify-content-start align-items-center my-2"><img class="me-3" width="26px" height="26px" src = "../../../assets/sources/icons/🦆 icon-engch.svg" alt="Mi SVG feliz"/><span class="text-dark text-start fw-semibold">{{modalItemSelected?.Enganche}}%</span></div>
            <div class="d-flex justify-content-start align-items-center my-2"><img class="me-3" width="25px" height="25px" src = "../../../assets/sources/icons/🦆 icon-descuento.svg" alt="Mi SVG feliz"/><span class="text-dark text-start fw-semibold">{{modalItemSelected?.Descuento}}%</span></div>
            <div class="d-flex justify-content-start align-items-center my-2"><img class="me-3" width="26px" height="26px" src = "../../../assets/sources/icons/🦆 icon-apartado.svg" alt="Mi SVG feliz"/><span class="text-dark text-start fw-semibold">{{modalItemSelected?.Apartado | moneyViewNormal}}</span></div>
          </div>
        </div>
      </div>
      <div class="modal-footer p-1">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<!-- <footer id="footer" class="d-flex justify-content-between bg-light" style="height: auto;">
  <div class="p-5 padd-xs-1">
    <img src="../../../assets/sources/imgs/Grupo-Emporium.png" alt="">
    <h5 style="font-size: 12px;" class="text-secondary fw-semibold">Blvd. San Marcos 203, Bulevar, 20218 Aguascalientes, Ags.</h5>
    <h5 style="font-size: 12px;" class="text-secondary mt-4 fw-semibold">Tel. 01 (449) 910 05 50</h5>
  </div>
  <div class="p-5 padd-xs-1">
    <ul style="margin-top: 5%; list-style: none; font-size: 12px;" class="fw-semibold">
      <li><a href="" class="text-decoration-none text-secondary"><img src="../../../assets/sources/imgs/facebook.png"
            width="38px" height="38px" alt=""> Grupo Emporium </a></li>
      <li><a href="" class="text-decoration-none text-secondary"><img src="../../../assets/sources/imgs/youtube.png"
            width="38px" height="38px" alt=""> /@GrupoEmporium</a></li>
            <li><a href="" class="text-decoration-none text-secondary"><img src="../../../assets/sources/imgs/instagram.png"
            width="38px" height="38px" alt=""> @grupoemporium</a></li>
          </ul>
  </div>
</footer> -->
<!-- <div class="col-7">
  <ul style="margin-left: 10%; margin-top: 2%; list-style: none; font-size: 12px;" class="fw-semibold">
    <li><a href="" class="text-decoration-none text-secondary">- PUNTA CORAL</a></li>
    <li><a href="" class="text-decoration-none text-secondary">- PUNTA DORADA</a></li>
    <li><a href="" class="text-decoration-none text-secondary">- PUNTA DEL CARMEN</a></li>
    <li><a href="" class="text-decoration-none text-secondary">- VIVANTA</a></li>
    <li><a href="" class="text-decoration-none text-secondary">- LUZIA RESIDENCIAL</a></li>
    <li><a href="" class="text-decoration-none text-secondary">- PUNTA MAYA</a></li>
    <li><a href="" class="text-decoration-none text-secondary">- LOMA ALTA</a></li>
  </ul>
  <h5 style="font-size: 12px; margin-top: 8%;" class="text-secondary fw-semibold text-center">Un Desarrollo de GRUPO
    EMPORIUM ©. Todos los derechos reservados, 2022.</h5>

</div> -->