@media (max-width: 576px) {
    .marg-previw-l-0-xs{
        margin-left: 0px !important;
    }
    .margin-0{
        margin: 0px !important;
    }
    .padd-xs-1{
        padding: 1rem !important;
    }
  }